.posts-list {
  /* display: flex; */

  /* flex-direction: column; */
  /* align-items: column; */
}

.article-card {
  display: flex;

  align-items: center;
  gap: 15px;
  border-bottom: 1px solid var(--color-border);
  padding: 20px;
}

.text-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .article-card {
    flex-direction: column;
    align-items: start;
  }
}

@media (max-width: 1024px) {
  .article-card {
    justify-content: space-between;
  }
  .article-card img {
    width: 380px;
  }
  .text-wrapper {
    align-self: flex-start;
  }
}

.article-card__title {
  color: var(--color-text);
}

.article-card h5 {
  margin: 0;
}
.article-card img {
  display: block;
  /* width: 380px; */
  align-self: flex-end;
  margin: 0;
  height: auto;
}

.article-card__summary {
  margin-bottom: 15px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag-list--no-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 0 30px;
  border-bottom: 2px solid var(--color-border);
}

@media (min-width: 1024px) {
  .tag-list--no-wrap {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.tag-list__title {
  width: 100%;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .tag-list__title {
    margin-bottom: 0;
  }
}

.tag {
  border: 1px solid var(--color-border);
  /* margin: 10px 10px 0 0; */
  padding: 6px 8px;
  background-color: var(--color-bg-secondary);
  border-radius: var(--border-radius-sm);
  color: var(--color-secondary);
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
}

.tag:hover {
  border: none;
}

.tag:first-child {
  margin-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
