<footer class="site-footer">
  <small>
  Powered by <a href="https://www.11ty.dev/"> 11ty</a>;
  Theme is a modified version of <a href="https://www.tylerroderick.com">Tyler M. Roderick's</a>
    <a href="https://github.com/TylerMRoderick/fernfolio-11ty-template">Fernfolio template.</a>

  </small>
</footer>